/* Standardfarben Light und Dark Mode */
:root {
    --bgp: #89fc83; /* Hintergrund primary */
    --bga: #4ba437; /* Hintergrund accent */
    --text: #000000; /* Textfarbe */
    --line: #000000; /* Linien */
}

body.dark {
    --bgp: #0f4929; /* Hintergrund primary */
    --bga: #3a9c33; /* Hintergrund accent */
    --text: #ffffff; /* Textfarbe */
    --line: #ffffff; /* Linien */
}

/* Anwendung auf body */
body {
  background-color: var(--bgp);
  color: var(--text);
}


/* Gestaltung Rezepttabelle Anfang */
.rezept {
    width: 100%; /* Tabelle nimmt volle Breite ein */
    border-collapse: collapse;
}

/* th, td, caption */
.rezept th, .rezept td, .rezept caption {
    border: 3px solid var(--line);
    padding: 0.4rem;
    vertical-align: top; /* Positioniert Text in Spalte oben */
}

.rezept caption {
    border-bottom: none; /* Entfernt doppelte Linie zwischen caption und thead tr */
}

.rezept thead th,
.rezept caption {
    background-color: var(--bga);
    color: white;
}

tfoot td {
    background-color: var(--bga);
    font-size: 0.7em;
    text-align: center;
}

.grid { /* Anordnung Zutaten in 4 Bereiche */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* Gestaltung Rezepttabelle Ende */